@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap");
@import url('https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    text-align: center;
}

.modal-alert {
    background-color: #fff;
    padding: 16px;
    -webkit-box-shadow: 0px 0px 11px 5px rgba(140, 140, 140, 0.47);
    box-shadow: 0px 0px 11px 5px rgba(140, 140, 140, 0.47);
    width: 400px;
    height: 150px;
    display: none;
    position: fixed;
    top: 40%;
}

.purple-line {
    background-color: #331efe;
    border: 3px solid #331efe;
    width: 5%;
    border-radius: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grey-text {
    color: #b5b5b5
}

.green-text {
    color: #63D98F
}

.white-text {
    color: #fff;
}

.cancel-button {
    color: #ea5656;
    padding: 8px;
    background-color: #fff;
    margin-left: -40px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.divider {
    margin: 15px 0;
}

.round-text-field {
    border-radius: 10px;
}

.input-field {
    height: 30px;
    padding: 8px;
    display: block;
    border: 2px solid #e3eff9;
    width: 300px;
    font-size: 14px;
    font-weight: bold;
}

.input-non-outline {
    height: 30px;
    padding: 8px;
    display: block;
    border: none;
    width: 300px;
    font-size: 14px;
    font-weight: bold;
    color: #afafaf;
}

input:focus,
input[type]:focus {
    border-color: #e3eff9;
    outline: 0 none;
}

button[type="submit"] {
    padding: 8px;
    background-color: #331efe;
    margin-left: -40px;
    border-radius: 50px;
    cursor: pointer;
}

.green-outlined-disabled {
    border: 2px solid #b9eecc;
    border-radius: 30px;
    background-color: white;
    color: #b9eecc;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    width: 330px;
}

.help-button {
    background-color: #a3ebb6;
    border: none;
    padding: 16px;
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}